// --------------------------------------------------
// Flex direction
// --------------------------------------------------
+prefix-classes('flex-')
  // Direction
  .row
    flex-direction: row

  .row-reverse
    flex-direction: row-reverse

  .column
    flex-direction: column

  .column-reverse
    flex-direction: column-reverse


// --------------------------------------------------
// Flex wrap
// --------------------------------------------------
+prefix-classes('flex-')
  .no-wrap
    flex-wrap: nowrap

  .wrap
    flex-wrap: wrap

  .wrap-reverse
    flex-wrap: wrap-reverse


// --------------------------------------------------
// Flex align items
// --------------------------------------------------
+prefix-classes('align-')
  .stretch
    align-items: stretch

  .start
    align-items: flex-start

  .center
    align-items: center

  .end
    align-items: flex-end

  .baseline
    align-items: baseline


// --------------------------------------------------
// Flex align content
// --------------------------------------------------
+prefix-classes('content-')
  .start
    align-content: flex-start

  .center
    align-content: center

  .end
    align-content: flex-end

  .between
    align-content: space-between

  .around
    align-content: space-around

  .stretch
    align-content: stretch


// --------------------------------------------------
// Flex align self
// --------------------------------------------------
+prefix-classes('self-')
  .auto
    align-self: auto

  .start
    align-self: flex-start

  .center
    align-self: center

  .end
    align-self: flex-end

  .stretch
    align-self: stretch

  .baseline
    align-self: baseline


// --------------------------------------------------
// Flex justify content
// --------------------------------------------------
+prefix-classes('justify-')
  .start
    justify-content: flex-start

  .center
    justify-content: center

  .end
    justify-content: flex-end

  .between
    justify-content: space-between

  .around
    justify-content: space-around


// --------------------------------------------------
// Flex
// --------------------------------------------------
+prefix-classes('flex-')
 .initial
   flex: 0 1 auto

  .1
    flex: 1 1 0%

  .auto
    flex: 1 1 auto

  .none
    flex: 0 0 auto


// --------------------------------------------------
// Flex grow, shrink
// --------------------------------------------------
+prefix-classes('flex-')
  .grow
    flex-grow: 1

  .grow-0
    flex-grow: 0

  .shrink
    flex-shrink: 1

  .shrink-0
    flex-shrink: 0


// --------------------------------------------------
// Flex order
// --------------------------------------------------
+prefix-classes('order-')
  .first
    order: -9999

  .last
    order: 9999

  .none
    order: 0

  for $num in 1..9
    .{$num}
        order: $num
