// --------------------------------------------------
// Line height
// --------------------------------------------------
line_height(val)
  line-height: val

+prefix-classes('leading-')
  .none
    line_height 1

  .tight
    line_height 1.25

  .snug
    line_height 1.375

  .normal
    line_height 1.5

  .relaxed
    line_height 1.625

  .loose
    line_height 2
