// --------------------------------------------------
// Ul list style
// --------------------------------------------------
.list-style-none
  list-style: none


// --------------------------------------------------
// Overflow
// --------------------------------------------------
+prefix-classes('overflow-')
  .auto
    overflow: auto

  .hidden
    overflow: auto


// --------------------------------------------------
// Float
// --------------------------------------------------
.float-lfet
  float: left

.float-right
  float: right