// --------------------------------------------------
// Radius
// --------------------------------------------------
+prefix-classes('r-')
  for $num in 0..26
    .{$num}
      border-radius: ($num / 100)rem
  .full
    border-radius: 9999px
