// --------------------------------------------------
// Text align
// --------------------------------------------------
+prefix-classes('text-')
  .center
    text-align: center

  .left
    text-align: left

  .right
    text-align: right

  .justify
    text-align: justify


// --------------------------------------------------
// Text decoration
// --------------------------------------------------
+prefix-classes('text-')
  .underline
    text-decoration: underline

  .line-through
    text-decoration: line-through

  .no-underline
    text-decoration: none

// .ellipsis

// .uppercase

